body {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    background-color: #bd1212;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#continent-selection {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff; /* Fondo claro para el contenedor del juego */
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.btn.btn-outline-danger {
    margin: 5px;
    border-radius: 5px;
    color: #000000;
    border-color: #bd1212
}

.btn.btn-outline-danger:hover {
    background-color: #be4646;
    color:#ffffff
}

#continent-selection .btn.btn-outline-danger.active {
    background-color: #bd1212;
    color:#ffffff
}

#continent-selection.my-4 div {
    margin-top: 10px;
}

#btn-start-game {
    background-color: #bd1212;
    border: 1px solid #ccc;
    font-size: 22px;
    /* border-radius: 100%; */
}

#game {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff; /* Fondo claro para el contenedor del juego */
    padding: 20px;
    /* display: inline-block; */
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flag-icon {
    font-size: 200px;
    border-radius: 5px;
}

#flag-icon-background {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 10px;
}

#country-name {
    margin-top: 10px;
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    background-color: #bd1212;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

#options {
    margin: 20px;
}

#options button {
    display: block;
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn.btn-outline-danger {
    margin: 5px;
    border-radius: 5px;
    color: #000000;
    border-color: #bd1212
}

#options button .btn.btn-outline-danger:hover {
    background-color: #be4646;
    color:#ffffff
}

#options .btn.btn-outline-danger.active {
    background-color: #bd1212;
    color:#ffffff
}

#options .btn.btn-outline-danger.disabled {
    background-color: #808080;
    color:#000000
}

#feedback {
    margin: 0px 20%;
    font-size: 15px;
}

#next-button {
    background-color: #bd1212;
    border: 1px solid #ccc;
    font-size: 22px;
    /* border-radius: 100%; */
}

